* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu_control {
    position: absolute;
    opacity: 0;
}

html,
body {
    height: 100%;
    margin: 0px;
    background-color: #e6e6e6;
    font-size: 18px;
    font-family: "微軟正黑體";
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_window {
    width: 95%;
    max-width: 800px;
    min-width: 290px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.block img {
    min-width: 71px;
    max-height: 71px;
    border: 3.5px solid #e6e6e6;
    margin: 0.5em;
    width: 7%;
    border-radius: 8px;
}

.player_name p {
    border: 3.5px solid #e6e6e6;
    margin: 0.5em 0.5em 0.25em;
    border-radius: 8px;
    padding: 0.1em 1em 0.1em;
    text-align: center;
    min-width: 150px;
}

.border {
    border: 3.5px solid #e6e6e6;
    margin: 0.5em 0.5em 0.25em;
    border-radius: 8px;
    padding: 0.2em 1em 0.1em;
    min-width: 150px;
    text-align: center;
}

.border p {
    padding: 0.1em 1em 0.1em;
}

.border img {
    margin: 0.65em 0.5em 0.25em;
}

.header {
    height: 50px;
    background-color: #e84f4a;
    position: relative;
}

.menu_btn {
    position: absolute;
    height: 35px;
    width: 35px;
    border: 4px solid;
    border-color: rgb(40, 40, 40);
    background-color: #fff;
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 50px;
}

.header nav {
    width: 60%;
    height: calc(100vh - 50px);
    max-height: 540px;
    background-color: #f1736f;
    position: absolute;
    top: 49.5px;
    left: -100%;
    transition: .5s;
    box-shadow: 5px 0px 10px -6px hsla(240, 40%, 20%, .6);
}

.header nav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.header nav a+a::before {
    content: '';
    position: absolute;
    border-top: 1px solid white;
    left: 10px;
    right: 10px;
    top: 0;
}

#menu_control:checked~.header nav {
    left: 0;
}

.flex {
    display: flex;
}

.ball_top {
    width: 38px;
    height: 45%;
    border-radius: 100px 100px 0 0;
    border-bottom: 4px solid rgb(40, 40, 40);
}

.ball_center {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 10px;
    height: 10px;
    border: 4px solid;
    border-radius: 50px;
    border-color: rgb(40, 40, 40);
    background-color: white;
}

.horizontal_line {
    opacity: 0.6;
    border: 0;
    border-color: inherit;
    border-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.explore,
.box_001 {
    margin-left: 15px;
}

.two_btn {
    margin-top: 5px;
}

.btn001 {
    display: block;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 250ms ease 0s;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    width: auto;
    border-radius: 0.375rem;
    font-weight: 600;
    height: 2.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #3089b0;
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    border: none;
    cursor: pointer;
}

.btn001:hover {
    background-color: #1b5c79;
    color: white;
}

.two_btn .flex {
    align-items: center;
}

.two_btn .flex p {
    margin-right: 0.5rem;
}

.header nav a:hover {
    background-color: #e37b78;
    color: white;
}

.box_001 {
    overflow-x: auto;
}

.bag_column {
    background-color: rgb(237, 242, 247);
}

.bag_table {
    width: 100%;
    min-width: 460px;
    border-collapse: collapse;
}

.bag_column_thead_001 {
    font-size: 0.75rem;
    min-width: 124px;
}

.bag_column_thead_002 {
    font-size: 0.75rem;
    min-width: 95px;
}

.bag_column_thead_003 {
    font-size: 0.75rem;
}

.bag_column_thead_004 {
    font-size: 0.75rem;
    min-width: 50px;
}

.bag_column_thead_005 {
    font-size: 0.75rem;
    min-width: 90px;
}

.bag_column_tbody {
    font-size: 0.875rem;
    font-weight: normal;
    padding: 0.4rem;
    border-bottom: 1px solid rgb(237, 242, 247)
}

.curser_pointer {
    cursor: pointer;
}

.hover_gray tr:hover {
    background-color: #f5f5f5;
}

.fa-filter {
    cursor: pointer;
    transition: all 250ms ease 0s;
    color: #7cc0dd;
    margin-right: 10px;
    font-size: 1.5rem;
}

.fa-filter:hover {
    color: #478fad;
}

.map_town {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.map_tablist {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: rgb(226, 232, 240);
    margin-bottom: 1rem;
}

.map_tablist button {
    cursor: pointer;
    outline: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease 0s;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    margin-bottom: -2px;
    background: none;
}

@media screen and (min-width: 768px) {
    .rwd_profile {
        display: flex;
    }
    .player_name {
        width: 600px;
    }
    .border {
        flex: 1;
    }
    .menu_btn {
        display: none;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header nav {
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        height: 100%;
        width: auto;
        background-color: transparent;
        box-shadow: none;
    }
    .header nav a {
        transition: all 0.15s ease-out 0s;
        padding-top: 13px;
    }
    .header nav a+a::before {
        border-top: none;
    }
}